* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #9767A9;
    width: 1366px;
    max-width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_menu{
    display: none;
}

.header_redesSociais{
    width: 13vw;
    display: flex;
    justify-content: space-around;
}

input{
    border-color: #9767A9;
    border-radius: 13px;
    height: 4.5vh;
    width: 15vw;
}

input::placeholder{
    font-size: 1rem;
    text-align: center;
    background-image: url('/img/Layer_3.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

nav ul {
    width: 50vw;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.section_img{
    width: 100%;
    height: 100vh;
    background-image: url('/img/cabeludo.png');
    background-size: cover;
}

.section_img--txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.section_img--txt h1{
    font-size: 3rem;  
    font-weight: bold;  
}

.section_img--txt h2{
    font-size: 2rem;
    font-weight: 1;
}

@media(max-width:600px){
    header nav, input, div figure{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
    }
    
    .header_menu{
        width: 30vw;
        height: 100%;
        display: flex;
    }

    .section_img{
        height: 40vh;
    }

    .section_img--txt{
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        height: 35vh;
        margin-left: 45px;
    }

    .section_img--txt h2{
        font-size: 1em;
    }

    .section_img--txt br{
        display: none;
    }

}