* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: #9767A9;
    width: 1366px;
    max-width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_menu{
    display: none;
}

.header_redesSociais{
    width: 13vw;
    display: flex;
    justify-content: space-around;
}

input{
    border-color: #9767A9;
    border-radius: 13px;
    height: 4.5vh;
    width: 15vw;
}

input::placeholder{
    font-size: 1rem;
    text-align: center;
    background-image: url('/img/Layer_3.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

nav ul {
    width: 50vw;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.section_img--top{
    width: 100%;
    height: 100vh;
    background-image: url('/img/cabeludo.png');
    background-size: cover;
}

.section_img--txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.section_img--txt h1{
    font-size: 3rem;  
    font-weight: bold;  
}

.section_img--txt h2{
    font-size: 2rem;
    font-weight: 1;
}

.section_txt{
    color: white;
    width: 100%;
    height: 45vh;
    background-color: #9767A9;
    display: flex;
    justify-content: space-around;
}

.section_txt--titulo{
    width: 60vw;
    height: 30vh;
    font-size: 2rem;
}

.section_txt--paragrafo{
    margin-top: 30px;
    width: 40vw;
    font-size: 1.3rem;
    height: 40vh;
}

.section_box{
    width: 100%;
    height: 500vh;
    background-color: white;
}

.section_box--card--titulo{
    padding: 23px 23px 23px 23px;
}

.section_box--card--paragrafo{
    font-size: 1.1rem;
    padding: 23px 23px 23px 23px;
}

.section_box--card1{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card1.png');
    background-size: cover;
}

.section_box--card1--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 75vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card2{
    position: relative;
    bottom: 90px;
    left: 650px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card2.png');
    background-size: cover;
}

.section_box--card2--txt{
    position: absolute;
    top: 370px;
    right: 50px;
    width: 30vw;
    height: 75vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card3{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card3.png');
    background-size: cover;
}

.section_box--card3--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 50vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card4{
    position: relative;
    bottom: 90px;
    left: 650px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card4.png');
    background-size: cover;
}

.section_box--card4--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 65vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card5{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card5.png');
    background-size: cover;
}

.section_box--card5--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 70vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card6{
    position: relative;
    bottom: 90px;
    left: 650px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card6.png');
    background-size: cover;
}

.section_box--card6--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 60vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card7{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card7.png');
    background-size: cover;
}

.section_box--card7--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 50vh;
    color: white;
    background-color: #9767A9;
}

.section_caminho{
    width: 30vw;
    position: relative;
    bottom: 200px;
    left: 700px;
}

.section_img--bottom{
    width: 100%;
 height: 140vh;  
border:solid;    display: flex;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.section_img--bottom1{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.section_img--bottom1 img{
    width: 100%;
    height: 95%;
}   

.section_img--bottom2{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
}

.section_img--bottom2 img{
    width: 100%;
    height: 106%;
}

.section_img--bottom3{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
}

.section_img--bottom3 img{
    width: 100%;
    height: 100%;
}

.section_img--bottom4{
    width: 20vw;
    height: 100%;   
    margin-right: 10px;
}

.section_img--bottom4 img{
    width: 100%;
    height: 850px;
}

.section_img--bottom5{
    width: 20vw;
    height: 100%;
}

.section_img--bottom5 img{
    width: 100%;
    height: 100%;
}

.main_navegacao{
    display: none;
}

footer{
    color: white;
    width: 100%;
    height: 30vh;
    background-color: #9767A9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_txt{
    width: 50vw;
    font-size: 1em;
    padding: 50px;
}

.footer_txt h1{
    display: none;
}

.footer_img{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.footer_seta--esquerda{
    width: 15vw;
    display: flex;
    align-items: center;
}

.footer_seta--cima{
    width: 15vw;
    display: flex;
    align-items: center;
}

.footer_seta--direita{
    width: 15vw;
    display: flex;
    align-items: center;    
}

@media(max-width:600px){
    header nav, input, div figure{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    main .header_menu{
        width: 30vw;
        height: 100%;
        display: flex;
    }

    main .section_img{
        height: 40vh;
    }

    main .section_img--txt{
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        height: 35vh;
        margin-left: 45px;
    }

    main .section_img--txt h2{
        font-size: 1em;
    }

    main .section_img--txt br{
        display: none;
    }

    main .section_txt{
        color: white;
        width: 100%;
        height: 70vh;
        background-color: #9767A9;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
    }

    main .section_txt--titulo{
        width: 100%;
        height: 10vh;
        font-size: 1rem;
        text-align: center;
    }

    main .section_txt--paragrafo{
        width: 80vw;
        font-size: 1rem;
        height: 20vh;
        text-align: justify;
    }

    main .section_box{
        display: flex;
        flex-direction: column;
        height: 900vh;
    }

    main .section_box--card1{
       position: relative;
       top: 0;
       left: 0;
        width: 100%;
    }

    main .section_box--card1--txt{
        position: absolute;
        top: 200px;
        left: 0px;
        width: 100%;
        height: 90vh;
    }

    main .section_box--card2{
        position: relative;
        top: 295px;
        left: 0px;
        width: 100%;
    }
 
    main .section_box--card2--txt{
         position: absolute;
         top: 300px;
         left: 0px;
         width: 100%;
         height: 90vh;
    }

    main .section_box--card3{
        position: relative;
        top: 680px;
        left: 0px;
        width: 100%;
     }
 
    main .section_box--card3--txt{
         position: absolute;
         top: 200px;
         left: 0px;
         width: 100%;
         height: 70vh;
     } 

    main .section_box--card4{
        position: relative;
        top: 860px;
        left: 0px;
        width: 100%;
    }
 
    main .section_box--card4--txt{
         position: absolute;
         top: 300px;
         left: 0px;
         width: 100%;
         height: 75vh;
    } 

    main .section_box--card5{
        position: relative;
        top: 1188px;
        left: 0px;
        width: 100%;
     }
 
     
    main .section_box--card5--txt{
         position: absolute;
         top: 250px;
         left: 0px;
         width: 100%;
         height: 70vh;
     } 

    main .section_box--card6{
        position: relative;
        top: 1520px;
        left: 0px;
        width: 100%;
    }
 
    main .section_box--card6--txt{
         position: absolute;
         top: 300px;
         left: 0px;
         width: 100%;
         height: 75vh;
    } 

    main .section_box--card7{
        position: relative;
        top: 1800px;
        left: 0px;
        width: 100%;
     }
 
    main .section_box--card7--txt{
         position: absolute;
         top: 250px;
         left: 0px;
         width: 100%;
         height: 70vh;
        border:solid;
     } 

    main .section_caminho{
        width: 10vw;
        position: relative;
        bottom: -2200px;
        left: 60px;

    }

    main .section_img--bottom{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        margin: none;
    }

    .section_img--bottom1{
        width: 25vw;
        height: 100%;
        display: flex;
    }
    
    .section_img--bottom1 img{
        width: 100%;
        height: 100%;
    }
    
    main .main_navegacao{
        width: 100%;
        height: 30vw;
        display: flex;
        justify-content: space-around;
    }


     footer{
         background-color: white;
         width: 100%;
         height: 100%;
         color: black;
     }

     footer .footer_txt{
        height: 100%;
        width: 100%;
        border:solid;
     }

     footer .footer_txt h1{
        display: flex;
        padding: 0;
     }


     footer .footer_img{
        display: none;
    }

     footer .footer_img p{
         display: none;
     }
}