* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: #9767A9;
    width: 1366px;
    max-width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_menu{
    display: none;
}

.header_redesSociais{
    width: 13vw;
    display: flex;
    justify-content: space-around;
}

input{
    border-color: #9767A9;
    border-radius: 13px;
    height: 4.5vh;
    width: 15vw;
}

input::placeholder{
    font-size: 1rem;
    text-align: center;
    background-image: url('/img/Layer_3.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

nav ul {
    width: 50vw;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.section_img--top{
    width: 100%;
    height: 100vh;
    background-image: url('/img/cabeludo.png');
    background-size: cover;
}

.section_img--txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.section_img--txt h1{
    font-size: 3rem;  
    font-weight: bold;  
}

.section_img--txt h2{
    font-size: 2rem;
    font-weight: 1;
}

.section_txt{
    color: white;
    width: 100%;
    height: 45vh;
    background-color: #9767A9;
    display: flex;
    justify-content: space-around;
}

.section_txt--titulo{
    width: 60vw;
    height: 30vh;
    font-size: 2rem;
}

.section_txt--paragrafo{
    margin-top: 30px;
    width: 40vw;
    font-size: 1.3rem;
    height: 40vh;
}

.section_box{
    width: 100%;
    height: 500vh;
    background-color: white;
}

.section_box--card--titulo{
    padding: 23px 23px 23px 23px;
}

.section_box--card--paragrafo{
    font-size: 1.1rem;
    padding: 23px 23px 23px 23px;
}

.section_box--card1{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card1.png');
    background-size: cover;
}

.section_box--card1--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 68vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card2{
    position: relative;
    bottom: 90px;
    left: 800px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card2.png');
    background-size: cover;
}

.section_box--card2--txt{
    position: absolute;
    top: 370px;
    right: 50px;
    width: 30vw;
    height: 68vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card3{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card3.png');
    background-size: cover;
}

.section_box--card3--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 50vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card4{
    position: relative;
    bottom: 90px;
    left: 800px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card4.png');
    background-size: cover;
}

.section_box--card4--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 50vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card5{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card5.png');
    background-size: cover;
}

.section_box--card5--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 60vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card6{
    position: relative;
    bottom: 90px;
    left: 800px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card6.png');
    background-size: cover;
}

.section_box--card6--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 50vh;
    color: white;
    background-color: #9767A9;
}

.section_box--card7{
    position: relative;
    bottom: 90px;
    left: 98px;
    width: 40vw;
    height: 70vh;
    background-image: url('/img/card7.png');
    background-size: cover;
}

.section_box--card7--txt{
    position: absolute;
    top: 350px;
    right: 80px;
    width: 30vw;
    height: 47vh;
    color: white;
    background-color: #9767A9;
}

.section_caminho{
    width: 30vw;
    position: relative;
    bottom: 200px;
    left: 700px;
}

.section_img--bottom{
    width: 100%;
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;

}



@media(max-width:600px){
    header nav, input, div figure{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
    }
    
    .header_menu{
        width: 30vw;
        height: 100%;
        display: flex;
    }

    .section_img{
        height: 40vh;
    }

    .section_img--txt{
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        height: 35vh;
        margin-left: 45px;
    }

    .section_img--txt h2{
        font-size: 1em;
    }

    .section_img--txt br{
        display: none;
    }

    .section_txt{
        color: white;
        width: 100%;
        height: 70vh;
        background-color: #9767A9;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
    }

    .section_txt--titulo{
        width: 100%;
        height: 10vh;
        font-size: 1rem;
        text-align: center;
    }

    .section_txt--paragrafo{
        width: 80vw;
        font-size: 1rem;
        height: 20vh;
        text-align: justify;
    }

}