* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: solid;
    color: #9767A9;
    width: 1366px;
    max-width: 100%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input{
    border-color: #9767A9;
    border-radius: 13px;
    height: 4.5vh;
    width: 15vw;
}

input::placeholder{
    font-size: 1rem;
    text-align: center;
    background-image: url('/img/Layer_3.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

nav ul {
    width: 50vw;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}